.partfolio {
    width: 1128px;
    height: 1000px;
}

.partfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.partfolio-liste {
    display: flex;
    flex-wrap: wrap;
}

.partfolio-item {
    flex: 1;
    margin: 10px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.partfolio-item:hover {
    background-color: #f0f0f0;
}

.partfolio-image {
    width: 100%;
    height: auto;
}

.punctuality-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.partfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}